@tailwind base;
@tailwind components;
@tailwind utilities;

.loginTitle {
    text-align: center;
}
.form-signin {
    margin-top: 300px;

}

.form-signin .form-floating{
    margin-left: 520px;
}

.form-signin .btn {
    margin-left: 620px;

}


.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 262px;
    height: 75px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 262px;
    height: 75px;
}